@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  overscroll-behavior-y: none;
}

:root {
  --background: #161719;   /* dark by default */
  --foreground: #A9A2A2;
    color-scheme: dark;       /* iOS/Safari: use dark UI chrome */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gf-scroll {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #2f3136 #161719; /* thumb, track */
}

/* Chromium/Edge/Safari */
.gf-scroll::-webkit-scrollbar {
  width: 8px;
}

.gf-scroll::-webkit-scrollbar-track {
  background: #161719;
  border-radius: 10px;
}

.gf-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(#2f3136, #3a3d44);
  border-radius: 10px;
  border: 2px solid #161719; /* creates spacing from track */
}

.gf-scroll::-webkit-scrollbar-thumb:hover {
  background: #4a4d55;
}